<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">



    <title>shopping cart checkout - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <!-- ===============================================-->
    <!--    template   -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../template/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../template/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../template/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../template/assets/img/favicons/favicon-32x32.png">
    <link rel="manifest" href="../template/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../template/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">



    <!-- ===============================================-->
    <!--   Template Stylesheets-->
    <!-- ===============================================-->
    <link href="template/assets/css/theme.css" rel="stylesheet" />

    <!-- ===============================================-->
    <!--    Nav Style  -->
    <!-- ===============================================-->
    <link rel="stylesheet" href="../nav/css/linearicons.css">
    <link rel="stylesheet" href="../nav/css/font-awesome.min.css">
    <link rel="stylesheet" href="../nav/css/themify-icons.css">
    <link rel="stylesheet" href="../nav/css/owl.carousel.css">
    <link rel="stylesheet" href="../nav/css/nice-select.css">
    <link rel="stylesheet" href="../nav/css/nouislider.min.css">
    <link rel="stylesheet" href="../nav/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="../nav/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="../nav/css/magnific-popup.css">
    <link rel="stylesheet" href="../nav/css/main.css">


    <!-- ===============================================-->
    <!--    Book details  -->
    <!-- ===============================================-->
    <link rel="icon" type="image/png" href="../bookdetails/images/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/fonts/linearicons-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/MagnificPopup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/css/util.css">
    <link rel="stylesheet" type="text/css" href="../bookdetails/css/main.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


    <style type="text/css">
        body {
            margin-top: 20px;
            background: #eee;
        }

        h3 {
            font-size: 16px;
        }

        hr {
            background-color: #000000;
        }

        .text-navy {
            color: #ffb30e;
        }

        .cart-product-imitation {
            text-align: center;
            /* padding-top: 30px; */
            /* height: 80px; */
            width: 80px;
            background-color: #f8f8f9;
        }

        .product-imitation.xl {
            padding: 120px 0;
        }

        .product-desc {
            padding: 20px;
            position: relative;
        }

        .ecommerce .tag-list {
            padding: 0;
        }

        .ecommerce .fa-star {
            color: #d1dade;
        }

        .ecommerce .fa-star.active {
            color: #f8ac59;
        }

        .ecommerce .note-editor {
            border: 1px solid #e7eaec;
        }

        table.shoping-cart-table {
            margin-bottom: 0;
        }

        table.shoping-cart-table tr td {
            border: none;
            text-align: right;
        }

        table.shoping-cart-table tr td.desc,
        table.shoping-cart-table tr td:first-child {
            text-align: left;
        }

        /* table.shoping-cart-table tr td:last-child {
            width: 80px;
        } */

        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox:after,
        .ibox:before {
            display: table;
        }

        .ibox-title {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #ffffff;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 3px 0 0;
            color: inherit;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 48px;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 5px 20px 5px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .ibox-footer {
            color: inherit;
            border-top: 1px solid #e7eaec;
            font-size: 90%;
            background: #ffffff;
            padding: 10px 15px;
        }

        @media (min-width: 991px) {
            .cartText {
                display: none;
            }
        }

        @media (max-width: 991px) {
            .cartIcon {
                display: none;
            }
        }
    </style>


    <style>
        body {
            background-color: #eee;
        }

        .mt-100 {
            margin-top: 150px;
        }

        .card {
            margin-bottom: 30px;
            border: 0;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            letter-spacing: .5px;
            border-radius: 8px;
            -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
            box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
        }

        .card .card-header {
            background-color: #fff;
            border-bottom: none;
            padding: 24px;
            border-bottom: 1px solid #f6f7fb;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .card .card-body {
            padding: 30px;
            background-color: transparent;
        }

        .btn-primary,
        .btn-primary.disabled,
        .btn-primary:disabled {
            background-color: #4466f2 !important;
            border-color: #4466f2 !important;
        }
    </style>


</head>

<body style="font-size: 14px;">

    <!-- ============================================-->
    <!-- Navbar ============================-->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img class="w-25" src="../nav/img/logo3.png"
                            alt="Bookworm logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset justify-content-end" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/book">Book</a></li>
                            <li class="nav-item cartText"><a class="nav-link" href="/">Cart</a></li>
                            <li class="nav-item cartIcon"><a class="nav-link" href="/"><i class="fas fa-shopping-cart"
                                        style="color: #ffb30e;"></i></a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false"><i
                                        class="fas fa-user-circle me-2"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/userProfile/<%= userDetails._id %>">
                                            <%= userDetails.username %>
                                        </a></li>
                                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Navbar ============================-->
    <!-- ============================================-->

    <div class="container mt-5 pt-5" style="background: rgb(239, 239, 239);">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong> <%= count %> </strong>) items</span>
                            <h6>Checkout</h6>
                        </div>

                        <% carts.forEach((cart)=>{ %>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="cart-product-imitation">
                                                        <img src="../<%= cart?.product?.image1 %>" alt="" width="90">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h4 class="w-bold">
                                                        <a href="/book-details/<%= cart?.product?._id %>"
                                                            class="text-navy">
                                                            <%= cart?.product?.bookName %>
                                                        </a>
                                                    </h4>
                                                    <dl class=" m-b-none">
                                                        <dt>
                                                            <%= cart?.product?.author?.authorName %>
                                                        </dt>
                                                        <dd>
                                                            <%= cart?.product?.genre?.genreName %> | <%=
                                                                    cart?.product?.language %>
                                                        </dd>
                                                    </dl>

                                                </td>
                                                <td>
                                                    Quantity : <%= cart.quantity %>
                                                </td>
                                                <!-- <td width="65"> -->
                                                <!-- <div class="wrap-num-product flex-w">
                                                            <a id="decCart"
                                                                onclick="productDecrement('<%= cart._id %>')"
                                                                style="text-decoration: none;">
                                                                <div
                                                                    class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                                </div>
                                                            </a>

                                                            <input class="mtext-104 cl3 txt-center num-product"
                                                                type="number" name="countProduct" min="1" step="1"
                                                                value="<%= cart.quantity %>">

                                                            <a id="incCart"
                                                                onclick="productIncriment('<%= cart._id %>')"
                                                                style="text-decoration: none;">
                                                                <div
                                                                    class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                                </div>
                                                            </a>
                                                        </div> -->
                                                <!-- </td> -->
                                                <td>
                                                    <h4>
                                                        ₹ <%= cart?.product?.retailPrice * cart.quantity %>
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% }) %>


                        <div class="ibox-content">
                            <a href="/cart/<%= userDetails._id %>"><button class="btn btn-white btn-sm my-3"><i class="fa fa-arrow-left"></i> Go To Cart</button></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h6>Bill</h6>
                        </div>
                        <div class="ibox-content">
                            <% carts.forEach((cart)=>{ %>
                                <span>
                                    <%= cart?.product?.bookName %> : ₹ <%= cart?.product?.retailPrice * cart.quantity %>
                                     <br>
                                </span>
                            <% }) %>
                            <hr>
                            <% if (shipping) { %>
                                <span class="text-danger">
                                    Shipping Fee : ₹ 40
                                </span>

                            <% }else{ %>
                                    <span class="text-success">
                                        Shipping Fee : Free
                                    </span>
                            <% } %>
                            <hr>
                            <span>
                                Total
                            </span>
                            <h4 class="font-bold">
                            ₹ <%= totalAmount %>
                            </h4>
                            <hr>
                            <button class="btn btn-primary btn-sm btn-block my-2" onclick="cashOnDelivary('<%= userDetails._id %>')">Chash On
                                delivary</button>
                            <button class="btn btn-danger btn-sm btn-block my-2">Online
                                Payment</button>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Address</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <!-- <h3>+43 100 783 001</h3> -->
                            <div>
                                <span id="checkoutAddress" class="address">
                                    <%= userDetails.address.houseName %>, <%= userDetails.address.streetName %>, <%= userDetails.address.town %>,
                                    <%= userDetails.address.state %>, <%= userDetails.address.zipCode %>, <%= userDetails.address.country %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>

function cashOnDelivary(userId) {
  const orderAddress = document.getElementById('checkoutAddress').innerText;
  console.log(orderAddress);
  const url = window.location.origin;
  console.log(url);
  fetch(`${url}/cashOnDelivary?userId=${userId}`, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      address : orderAddress
    })
  })
    .then((response) => {
      if (response.ok) {
        return response.json();
      }
      throw new Error('Network response was not ok');
    })
    .then((data) => {
      console.log(data, 'This is data');

      swal({
        title: "Order Placed Successfully!",
        text: `Your order has been placed successfully! Your order id is ${data.orderId}`,
        icon: "success",
        button: "Okay",
      })
        .then(() => {
            window.location.href = `/cart/${userId}`;
        });
        setTimeout(() => {
            window.location.href = `/cart/${userId}`;
        }, 3000);
    })
    .catch((error) => {
      console.error(`There was a problem with the fetch operation: ${error.message}`);
      // Show error modal
      swal({
        title: "Error",
        text: "There was an error placing your order. Please try again later.",
        icon: "error",
        button: "Okay",
      });
    });
}

    </script>
          <!-- setTimeout(() => {
        }, 5000); -->

    <script type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>




    <!-- ===============================================-->
    <!--    Nav JavaScripts-->
    <!-- ===============================================-->
    <script src="../nav/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="../nav/js/vendor/bootstrap.min.js"></script>
    <script src="../nav/js/jquery.ajaxchimp.min.js"></script>
    <script src="../nav/js/jquery.nice-select.min.js"></script>
    <script src="../nav/js/jquery.sticky.js"></script>
    <script src="../nav/js/nouislider.min.js"></script>
    <script src="../nav/js/countdown.js"></script>
    <script src="../nav/js/jquery.magnific-popup.min.js"></script>
    <script src="../nav/js/owl.carousel.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="../nav/js/gmaps.min.js"></script>
    <script src="../nav/js/main.js"></script>




    <script type="text/javascript">
    </script>


    <!-- ===============================================-->
    <!--    Book details JavaScripts -->
    <!-- ===============================================-->
    <!-- <script src="../bookdetails/vendor/jquery/jquery-3.2.1.min.js"></script> -->
    <script src="../bookdetails/vendor/animsition/js/animsition.min.js"></script>
    <script src="../bookdetails/vendor/bootstrap/js/popper.js"></script>
    <script src="../bookdetails/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../bookdetails/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <script src="../bookdetails/vendor/daterangepicker/moment.min.js"></script>
    <script src="../bookdetails/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="../bookdetails/vendor/slick/slick.min.js"></script>
    <script src="../bookdetails/js/slick-custom.js"></script>
    <script src="../bookdetails/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <script src="../bookdetails/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <script src="../bookdetails/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="../bookdetails/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <script src="../bookdetails/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <script src="../bookdetails/js/main.js"></script>




</body>

</html>