<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Bookworm | <%= title %></title>


    <!-- ===============================================-->
    <!--    template   -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="template/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="template/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="template/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="template/assets/img/favicons/favicon-32x32.png">
    <link rel="manifest" href="template/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="template/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--   Template Stylesheets-->
    <!-- ===============================================-->
    <link href="template/assets/css/theme.css" rel="stylesheet" />

    

    <!-- ===============================================-->
    <!--    Card Style  -->
    <!-- ===============================================-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <link href="card/css/font-awesome.min.css" rel="stylesheet" />
    <link href="card/css/style.css" rel="stylesheet" />
    <link href="card/css/responsive.css" rel="stylesheet" />


    <!-- ===============================================-->
    <!--    Nav Style  -->
    <!-- ===============================================-->
    <link rel="stylesheet" href="nav/css/linearicons.css">
    <link rel="stylesheet" href="nav/css/font-awesome.min.css">
    <link rel="stylesheet" href="nav/css/themify-icons.css">
    <link rel="stylesheet" href="nav/css/owl.carousel.css">
    <link rel="stylesheet" href="nav/css/nice-select.css">
    <link rel="stylesheet" href="nav/css/nouislider.min.css">
    <link rel="stylesheet" href="nav/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="nav/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="nav/css/magnific-popup.css">
    <link rel="stylesheet" href="nav/css/main.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" integrity="sha384-5z5X9NljNv5ufg/tN/ztKjxL5837vqoZMIzfyLtygoRczjKm55Bvfkg2QrO/rG" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/js/materialdesignicons.min.js" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"></script>



  </style>
  </head>


  <body>
    

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <!-- ============================================-->
      <!-- Navbar ============================-->
      <header class="header_area sticky-header">
        <div class="main_menu" style="background-color: #ffb30e;">
          <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a class="navbar-brand logo_h" href="/"><img class="w-25" src="nav/img/logo3.png" alt="Bookworm logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse offset justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/book">Book</a></li>
                  <% if (userDetails) { %>
                    <li class="nav-item cartText"><a class="nav-link" href="/cart/<%= userDetails._id %>">Cart</a></li>
                    <li class="nav-item cartIcon"><a class="nav-link" href="/cart/<%= userDetails._id %>"><i class="fas fa-shopping-cart"></i>
                      <span class="badge rounded-pill badge-notification bg-danger">1</span></a></li>
                  <% }else{ %>
                    <li class="nav-item cartText"><a id="cartIdText" class="nav-link">Cart</a></li>
                    <li class="nav-item cartIcon"><a id="cartIdIcon" class="nav-link"><i class="fas fa-shopping-cart"></i></a></li>
                    <script>
                      document.getElementById("cartIdText").addEventListener("click", function() {
                        Swal.fire({
                          title: 'Not Login',
                          text: "Please Login First",
                          icon: 'error',
                          showCancelButton: true,
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'Log In'
                        }).then((result) => {
                          if (result.value) {
                            $('#exampleModalCenter').modal('show');
                          }
                        })
                      })
                      document.getElementById("close-modal").addEventListener("click", function() {
                        $('#exampleModalCenter').modal('hide');
                      });
                    </script>
                    <script>
                      document.getElementById("cartIdIcon").addEventListener("click", function() {
                        Swal.fire({
                          title: 'Not Login',
                          text: "Please Login First",
                          icon: 'error',
                          showCancelButton: true,
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'Log In'
                        }).then((result) => {
                          if (result.value) {
                            $('#exampleModalCenter').modal('show');
                          }
                        })
                      })
                      document.getElementById("close-modal").addEventListener("click", function() {
                        $('#exampleModalCenter').modal('hide');
                      });
                    </script>
                  <% } %>
                  <% if(userDetails) {%>
                    <li class="nav-item submenu dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-user-circle me-2"></i></a>
                      <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="/myProfile/<%= userDetails._id %>"><%= userDetails.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/myOrder/<%= userDetails._id %>">My Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                      </ul>
                    </li>
                  <% }else{ %>
                    <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Log In</a></li>	
                  <% } %>  
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Navbar ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- Incorrect Warning ============================-->

      <% if(warning) {%>
      <!-- Modal -->
     <script>
      window.addEventListener("load", ()=>{
        Swal.fire({
          title: 'Warning',
          text: "<%= warning %>",
          icon: 'warning',
          buttons: true,
          dangerMode: true,
          buttons: 'cancel'
        }).then((result) => {
          if (result) {
            $('#exampleModalCenter').modal('show');
          }
        })
      })
     </script>
      <% } %>

      <!-- Incorrect Warning ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- model login ============================-->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
            <button type="button" class="close border-0 bg-white" id="close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                <form id="login" action="/login" method="post" onsubmit="return submitform(event)">
                <!-- <form id="login" onsubmit="return submitform(event)"> -->
                    <div id="alert"></div>
                    <div class="form-outline mb-1">
                      <label class="form-label" for="typeUsernameX-1">Email</label>
                        <input type="text" id="email" class="form-control form-control-lg" name="email" />  
                    </div>
                    <div class="form-outline mb-3">
                      <label class="form-label" for="typePasswordX-1">Password</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    </div>
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-primary btn-lg btn-block" type="submit"  style="justify-content: center;">Log In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <div>
                <p class="mb-0">Don't have an account? <a class="fw-bold text-dark" href="/signup">Sign Up</a></p>
              </div>
            </div>
        </div>
        </div>
      </div> 
      <!-- model login ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- starting / search ============================-->
      <section class="py-5 overflow-hidden bg-primary" id="home">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner" href="#!"><img class="img-fluid" src="template/assets/img/gallery/hero-header-2.png" alt="hero-header" /></a></div>
            <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
              <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">Let's Start Reading</h1>
              <h1 class="text-800 mb-5 fs-4">You can Reach a new world through reading, <br class="d-none d-xxl-block" /> Books await You</h1>
              <div class="card w-xxl-75">
                <div class="card-body">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active mb-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-book me-2"></i>Book</button>
                      <button class="nav-link mb-3" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-user me-2"></i>Author</button>
                    </div>
                  </nav>
                  <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <form class="row gx-2 gy-2 align-items-center">
                        <div class="col">
                          <div class="input-group-icon"><i class="fas fa-search text-danger input-box-icon"></i>
                            <label class="visually-hidden" for="inputDelivery">Book</label>
                            <input class="form-control input-box form-foodwagon-control" id="inputDelivery" type="text" placeholder="Enter Book Name" />
                          </div>
                        </div>
                        <div class="d-grid gap-3 col-sm-auto">
                          <button class="btn btn-danger" type="submit">Find Book</button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <form class="row gx-4 gy-2 align-items-center">
                        <div class="col">
                          <div class="input-group-icon"><i class="fas fa-search text-danger input-box-icon"></i>
                            <label class="visually-hidden" for="inputPickup">Author</label>
                            <input class="form-control input-box form-foodwagon-control" id="inputPickup" type="text" placeholder="Enter Author Name" />
                          </div>
                        </div>
                        <div class="d-grid gap-3 col-sm-auto">
                          <button class="btn btn-danger" type="submit">Find Author</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- starting feactures ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- starting feactures ============================-->
      <section class="py-0 bg-primary-gradient">

        <div class="container">
          <div class="row justify-content-center g-0">
            <div class="col-xl-9">
              <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-4 mb-6">
                  <div class="text-center"><img class="shadow-icon" src="template/assets/img/gallery/location.png" height="112" alt="..." />
                    <h5 class="mt-4 fw-bold">Select location</h5>
                    <p class="mb-md-0">Choose the location where your book will be delivered.</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 mb-6">
                  <div class="text-center"><img class="shadow-icon" src="template/assets/img/gallery/pay.png" height="112" alt="..." />
                    <h5 class="mt-4 fw-bold">Pay advanced</h5>
                    <p class="mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 mb-6">
                  <div class="text-center"><img class="shadow-icon" src="template/assets/img/gallery/meals.png" height="112" alt="..." />
                    <h5 class="mt-4 fw-bold">Enjoy meals</h5>
                    <p class="mb-md-0">Book is delivered directly to your home.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- starting feactures ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- card ============================-->
      <section class="food_section layout_padding-bottom">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Books
            </h2>
          </div>

              
          <ul class="filters_menu">
            <li class="filter-button active" data-filter="all">All</li>
            <li class="filter-button" data-filter="Romance">Romance</li>
            <li class="filter-button" data-filter="Malayalam">Malayalam</li>
            <li class="filter-button" data-filter="English">English</li>
            <li class="filter-button" data-filter="5">Rating 5</li>
            <li class="filter-button" data-filter="4">Rating 4</li>
          </ul>

          <div class="filters-content">
            <div class="row grid">
              <% books.forEach((book,index) =>{ %>
                <% if(index < 12) { %>
                  <div class="col-sm-6 col-lg-4 item <%= book?.genre?.genreName %> <%= book.language %> <%= book.rating %>">
                    <div class="box">
                      <div>
                          <div class="img-box">
                            <a href="/book-details/<%= book._id %>">
                              <img src="<%= book.image1 %>" alt="<%= book.bookName %>">
                            </a>
                          </div>
                          <div class="detail-box">
                            <a href="/book-details/<%= book._id %>">
                              <h5 class="d-flex justify-content-center">
                                <%= book.bookName %>
                              </h5>
                              <div class="row">
                                <div class="col-12  d-flex justify-content-center">
                                  <p>
                                    <%= book?.author?.authorName %>
                                  </p>
                                </div>
                                <div class="col-6  d-flex justify-content-center">
                                  <p>
                                    <%= book?.genre?.genreName %>
                                  </p>
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                  <p>
                                    <%= book.language %>
                                  </p>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                  <span class="fs-18 cl11">
                                    <% for(let i=0;i<book.rating; i++){ %>
                                      <i class="fas fa-star" style="color: #ffb30e;"></i>
                                    <% } %>
                                    <% for(let i=0;i<5-book.rating; i++){ %>
                                      <i class="fas fa-star"></i>
                                    <% } %>
                                  </span>
                                </div>
                              </div>
                            </a>
                            <div class="options">
                              <h6>
                                ₹ <%= book.retailPrice %>
                              </h6>
                              <% if(userDetails) {%>
                                <a id="addCart<%= book._id %>" onclick="addCart('<%= book._id %>','<%= userDetails._id %>')" style="cursor: pointer;">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                    c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                    C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                    c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                    C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                    c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                      </g>
                                    </g>
                              
                                  </svg>
                                </a>
                                <script>
                                  document.getElementById("addCart<%= book._id %>").addEventListener("click", function() {
                                    Swal.fire({
                                      title: 'Added',
                                      text: "<%= book.bookName %> Added To Cart",
                                      icon: 'success',
                                      confirmButtonColor: '#3085d6',
                                      confirmButtonText: 'Ok',
                                    })
                                  });
                                </script>
                          
                              <% }else{ %>
                                <a id="noLoginaddIcon<%= book._id %>" style="cursor: pointer;">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                    c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                    C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                    c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                    C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                    c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                      </g>
                                    </g>
                              
                                  </svg>
                                </a>
                                <script>
                                  document.getElementById("noLoginaddIcon<%= book._id %>").addEventListener("click", function() {
                                    Swal.fire({
                                      title: 'Not Login',
                                      text: "Please Login First",
                                      icon: 'error',
                                      showCancelButton: true,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                      confirmButtonText: 'Log In'
                                    }).then((result) => {
                                      if (result.value) {
                                        $('#exampleModalCenter').modal('show');
                                      }
                                    })
                                  })
                                  

                                  document.getElementById("close-modal").addEventListener("click", function() {
                                    $('#exampleModalCenter').modal('hide');
                                  });
                                </script>
                              <% } %>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                <% } %>
              <% }) %>
            </div>
          </div>
          <div class="btn-box">
            <a href="/book">
              View More
            </a>
          </div>
        </div>
      </section>
      <!-- card ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- feactures ============================-->
      <section>
        <div class="bg-holder" style="background-image:url(template/assets/img/gallery/cta-one-bg.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-10">
              <div class="card card-span shadow-warning" style="border-radius: 35px;">
                <div class="card-body py-5">
                  <div class="row justify-content-evenly">
                    <div class="col-md-3">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img src="template/assets/img/icons/discounts.png" width="100" alt="..." />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Daily<br class="d-none d-md-block" />Discounts </h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 hr-vertical">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img src="template/assets/img/icons/live-tracking.png" width="100" alt="..." />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Live Tracking</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 hr-vertical">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img src="template/assets/img/icons/quick-delivery.png" width="100" alt="..." />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Quick Delivery </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- feactures ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- Big card 1 ============================-->
      <section class="pb-5 pt-8">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-span mb-3 shadow-lg">
                <div class="card-body py-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0" src="template/assets/img/gallery/crispy-sandwiches.png" alt="..." /></div>
                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                      <h1 class="card-title mt-xl-5 mb-4">Best deals <span class="text-primary"> Crispy Sandwiches</span></h1>
                      <p class="fs-1">Enjoy the large size of sandwiches. Complete your meal with the perfect slice of sandwiches.</p>
                      <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- Big card 1 ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- Big card 2 ============================-->
      <section class="py-0">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-span mb-3 shadow-lg">
                <div class="card-body py-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0" src="template/assets/img/gallery/fried-chicken.png" alt="..." /></div>
                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                      <h1 class="card-title mt-xl-5 mb-4">Celebrate parties with <span class="text-primary">Fried Chicken</span></h1>
                      <p class="fs-1">Get the best fried chicken smeared with a lip smacking lemon chili flavor. Check out best deals for fried chicken.</p>
                      <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- Big card 2 ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- last ============================-->
      <section class="py-0">
        <div class="bg-holder" style="background-image:url(template/assets/img/gallery/cta-two-bg.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-xxl-9 py-7 text-center">
              <h1 class="fw-bold mb-4 text-white fs-6">Are you ready to order <br />with the best deals? </h1><a class="btn btn-danger" href="#"> PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- last ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- footer ============================-->
      <section class="py-0 pt-7 bg-1000">

        <div class="container">
          <hr class="text-900" />
          <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-white">COMPANY</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">About Us</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Team</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Careers</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">blog</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">CONTACT</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Help &amp; Support</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Partner with us </a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Ride with us</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Ride with us</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Terms &amp; Conditions</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Refund &amp; Cancellation</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Privacy Policy</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Cookie Policy</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Terms &amp; Conditions</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Refund &amp; Cancellation</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
              <h5 class="lh-lg fw-bold text-500">FOLLOW US</h5>
              <div class="text-start my-3"> <a href="#!">
                  <svg class="svg-inline--fa fa-instagram fa-w-14 fs-2 me-2" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="#BDBDBD" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                  </svg></a><a href="#!">
                  <svg class="svg-inline--fa fa-facebook fa-w-16 fs-2 mx-2" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#BDBDBD" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                  </svg></a><a href="#!">
                  <svg class="svg-inline--fa fa-twitter fa-w-16 fs-2 mx-2" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#BDBDBD" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                  </svg></a></div>
              <h3 class="text-500 my-4">Receive exclusive offers and <br />discounts in your mailbox</h3>
              <div class="row input-group-icon mb-5">
                <div class="col-auto"><i class="fas fa-envelope input-box-icon text-500 ms-3"></i>
                  <input class="form-control input-box bg-800 border-0" type="email" placeholder="Enter Email" aria-label="email" />
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
          <hr class="border border-800" />
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end"> Made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#FFB30E" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="" target="_blank">Bookwagon </a>
              </p>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- footer ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <script>

      // function login() {
      //   const loginEmail = document.getElementById('email').value;
      //   const loginEmailPassword = document.getElementById('password').value;
      //   const url = window.location.origin;
      //   fetch(`${url}/login`, {
      //     method: 'POST',
      //     headers: {
      //       'Accept': 'application/json',
      //       'Content-Type': 'application/json'
      //     },
      //     body: JSON.stringify({
      //       email : loginEmail,
      //       password : loginEmailPassword,
      //     })
      //   }).then((response)=> {
      //     if(response.status === 200){
      //       return response.json().then(() => {
      //           console.log("Success");
      //           location.reload();
      //       });
      //     }else if(response.status === 401){
      //       return response.json().then((data) => {
      //           Swal.fire({
      //             title: 'Warning',
      //             text: data.message,
      //             icon: 'warning',
      //             buttons: true,
      //             dangerMode: true,
      //             buttons: 'cancel'
      //           });
      //       });
      //     }
      //   })
      // }



      
      function addCart(bookId, userId) {
        const url = window.location.origin;
        fetch(`${url}/addToCart?productId=${bookId}&userId=${userId}`, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        })
      }
    </script>



    <!-- ===============================================-->
    <!--    Template JavaScripts-->
    <!-- ===============================================-->
    <script src="template/vendors/@popperjs/popper.min.js"></script>
    <script src="template/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="template/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="template/vendors/fontawesome/all.min.js"></script>
    <script src="template/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">



    <!-- ===============================================-->
    <!--    Card JavaScripts-->
    <!-- ===============================================-->
    <!-- <script src="card/js/jquery-3.4.1.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="card/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="card/js/custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>



    <!-- ===============================================-->
    <!--    Nav JavaScripts-->
    <!-- ===============================================-->
    <script src="nav/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
    <script src="nav/js/vendor/bootstrap.min.js"></script>
    <script src="nav/js/jquery.ajaxchimp.min.js"></script>
    <script src="nav/js/jquery.nice-select.min.js"></script>
    <script src="nav/js/jquery.sticky.js"></script>
    <script src="nav/js/nouislider.min.js"></script>
    <script src="nav/js/countdown.js"></script>
    <script src="nav/js/jquery.magnific-popup.min.js"></script>
    <script src="nav/js/owl.carousel.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="nav/js/gmaps.min.js"></script>
    <script src="nav/js/main.js"></script>


        <!-- ===============================================-->
    <!--   Validation JavaScripts-->
    <!-- ===============================================-->
    <script src="/javascripts/loginvalidation.js"></script>

    <script>
    $(document).ready(function(){
      $('#myModal').modal('show');
      $('#closeBtn').click(function(){
        $('#myModal').modal('hide');
       });
      });
    </script>



    <script>
        const filterButtons = document.querySelectorAll(".filter-button");
        filterButtons.forEach(button => {
          button.addEventListener("click", function() {
            const filter = this.getAttribute("data-filter");
            const items = document.querySelectorAll(".item");
            // Remove active class from all buttons
            filterButtons.forEach(button => button.classList.remove("active"));
            // Add active class to the clicked button
            this.classList.add("active");
            if (filter === "all") {
              items.forEach(item => (item.style.display = "block"));
            } else {
              items.forEach(item => {
                if (!item.classList.contains(filter)) {
                  item.style.display = "none";
                } else {
                  item.style.display = "block";
                }
              });
            }
          });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  
  </body>

</html>




